@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@section Header {


    <style>
        button {
            height: 60px;
            width: 200px;
            font-size: 30px;
            margin: -20px -100px;
            position: relative;
            top: 50%;
            left: 50%;
        }
    </style>
}



<button id="openappandroid">Go to BankID</button>


@section Scripts {
    <script>       
        var topLocation = window.top.location.origin;
        window.top.postMessage({
            redir: "null",
            origin: "https://test-bankid-redirect2018.azurewebsites.net/home/jsredirect",
            autoStartToken: ""
        }, topLocation);    
    </script>
}
