@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@section Style {


    <style>
        button {
            height: 60px;
            width: 200px;
            font-size: 30px;
            margin: -20px -100px;
            position: relative;
            top: 50%;
            left: 50%;
        }
    </style>
}


<form action="/home/redirect" method="GET"></form>

<button id="openappandroid">Go to BankID</button>


@section Scripts {
    <script>        
            form.submit();        
    </script>
}
